.CompSection
{
background-image: url(../../assets/images/back.jpeg);
background-repeat:no-repeat;
background-size: cover;
background-position: center;
color: #efefef;
background-attachment: fixed;
padding-top: 0px;
min-height:800px;
height: auto !important;
display: grid;
grid-template-rows: auto 1fr auto;
grid-template-columns: 100%;
padding: 0%;
margin: 0%;
justify-content: center;
}

.CompSection1{
    
    padding-top: 130px;
  
}

@media screen and (min-height: 1000px) and (max-height: 1299px) {
 
    .CompSection{
        min-height: 1162px;
        height: auto !important;
    }
}

@media screen and (min-height: 800px) and (max-height:999px){
 
    .CompSection{
        min-height: 1162px;
        height: auto;
    }
}



@media screen and (min-height: 1300px) {
 
    .CompSection{
        height: 1250px;
    }
}

@media screen and (min-width: 1600px) {
 
    .CompSection{
        height: 1300px;
    }
}

@media screen and (min-width: 1400px){
    .CompSection{
        height: 1300px;
    }
}

/*@media screen and (min-width: 1000px){/
    .CompSection{
        height: 1250px;
    }/
}*/