@import 'bootstrap/scss/bootstrap';

@media screen and (max-width: 400px){
.container{
    width: 90%;
    padding: 0;
    margin: 0;
  }
  input[type=button] { 
    width: 100px !important
   }
}

@media (max-width: 768px){
.container, .container-sm, .container-md {
    max-width: 720px;
    height: fit-content;
 } 
}

@media screen and (max-height:800px) {
    .container{
        width:99%;
    }
}

@media (min-width: 992px) and (max-width:1210px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0 !important;
    padding-left: 0.3rem !important;
    font-size:13px ;
    
  } 

}



@media  (min-width: 1211px) and (max-width:15000px) {
    .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0 !important;
    padding-left: 0.5rem !important;
    font-size:16px ;
    
  } 
}





@media (min-width: 1200px){

    .col-md-auto {
        flex: 1 1 auto;
        max-width: 25%;
        justify-content: center;             
     }
    }

@media (max-width: 1200px){

        .col-md-auto {
            flex: 1 1 auto;
            max-width: 50%;
            justify-content: center;             
}
}

@media (max-width: 768px){
.col-md-auto {
    flex: auto;
    max-width: 100%;
    justify-content: center;
    }
   
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: auto;
    
    
}


.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 400px;
    
        @media screen and (max-width: 400px) {
            position: relative;
            width: 100%;
            overflow: hidden;
            height: 200px;
        }
          
        @media screen and (min-width: 401px ) {
            position: relative;
            width: 100%;
            overflow: hidden;
            height: 230px;
        }

            @media screen and (min-width: 700px) {
                position: relative;
                width: 100%;
                overflow: hidden;
                height: 400px;
            }
        
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color:rgba(37, 41, 37, 0.5) !important;
     background-clip: border-box; 
    border: 3px solid rgba(64, 58, 58, 0.8);
    border-radius: 0.25rem;
}