


.Title{
    color: white;
    
}

.FormGrup{
    background-color:rgba(32, 32, 32, 0.5) ;
    color: white;
}

.FormBasicInfo{
    
    width: auto;
    height: auto;
  

}

.Option{
    color: white;
}

.inputForm::placeholder {
    color: rgb(252, 246, 246);
    opacity: 1;
   
}

.inputForm{
    border: 1px solid black;
    min-width: 400px;
    width: auto;
    color: white;
    font-weight: bolder;
    
}

.inputForm1{
    background-color: inherit;
    border: 1px solid black;
    min-width: 400px;
    width: auto;
    color: white;
    font-weight: bolder;
}

.inputForm2{
    background-color: inherit;
    border: 1px solid black;
    min-width: 400px;
    width:auto;
    color: white;
    font-weight: bolder;
}


@media screen and (max-width: 400px) {
    .inputForm{
    min-width: 300px;
    width:auto;
    }
    .inputForm1{
    min-width: 300px;
    width:auto;
    }
    .inputForm2{
    min-width: 300px;
    width:auto;
    }
    
    
}

@media screen and (max-width: 801px) {
 
    .inputForm{
        min-width: 300px;
        width:auto;
        }
        .inputForm1{
        min-width: 300px;
        width:auto;
        }
        .inputForm2{
        min-width: 300px;
        width:auto;
        }
        
    

}


