

.SignIn
{
    
    background-color:rgba(37, 41, 37, 0.5);
	width: 300px;
	margin-top: 40px;
	height:400px;
	margin-left: 100px;
    margin: 0 auto;
	padding-top: 30px;
}								

@media screen and (max-width: 400px) {
	.SignIn{
		width: auto;
		height: fit-content;
	}
	.InputForm{
		height: 400px;
	}
}

.InputForm
{
	width: 100%;
	height: auto;
    text-align: center;
    justify-items: center;
}

.Input
{
	width: 200px;
	text-align:center;
	background: transparent;
	border:none;
	color: #fff;
	border-bottom: 1px solid #fff;
	outline: none;
	font-family: 'Play', sans-serif;
	transition: border 0.5s;
	font-size: 16px;
	font-weight: 150px;
    padding: 10px 0;

}

.LgnButton
{
	border:none;
	width: 190px;
	background: #fff;
	color:#000;
	font-size: 16px;
	line-height: 25px;
	padding: 10px 0;
	border-radius: 15px;
	cursor: pointer;

}

input[type=button]:hover
{
	color: #fff;
	background-color: black;
}

h2
{
	color: white;
}

a
{
	color: yellow;
	text-decoration:blink;
}

a:hover
{
	color: skyblue;
}



::placeholder
{
	color: aliceblue;
	opacity: 0.8; /*Firefox*/
}


