


.SignUp
{
	background-color:rgba(37, 41, 37, 0.5);
	width: 300px;
	margin-top: 40px;
	height:100%;
	margin-left: 100px;
    margin: 0 auto;
	padding-top: 30px;
	
}

@media screen and (max-width: 400px) {
	.SignUp{
		width: auto;
		
		padding: 25px;
	}
}


form
{
	
	text-align: center;
}

input
{
	width: 240px;
	text-align: center;
	background: transparent;
	border:none;
	border-bottom: 1px solid #fff;
	font-family: 'Play', sans-serif;
	font-size: 16px;
	font-weight: 200px;
	padding: 10px 0;
	transition: border 0.5s;
	outline: none;
	color: #fff;

}

input[type=button]
{
	border:none;
	width: 190px;
	background: #fff;
	color:#000;
	font-size: 16px;
	line-height: 25px;
	padding: 10px 0;
	border-radius: 15px;
	cursor: pointer;
}

input[type=button]:hover
{
	color: #fff;
	background-color: black;
}

h2
{
	color: #000;
}

::placeholder
{
	color: aliceblue;
	opacity: 0.8; /*Firefox*/
}