.Footer
{
	background:#333;
	left: 0;
	bottom: 0;
	right: 0;
	color: #fff;
	padding: 10px;
	width: auto;
	flex: 0 0 auto;
	clear: both;
	position: relative;
}

.fa-paint-brush
{
	margin: 3px;
	color: red;
}

/*@media screen and (max-width: 340px){/
   .Footer{
	   width: 121%;
   }
}

@media screen and (max-width: 400px){/
	.Footer{
		width: 107%;
	}
 }*/