@media screen and (max-width: 400px) {
    .CompSection{
        height: fit-content;
        width: fit-content;
    }
    .CompSection1{
       padding-top: 50px;
       height: auto;
       width: auto;
    }
}

@media screen and (max-width: 801px) {
 
    .CompSection{
        height: -webkit-fill-available;
        width: auto;
    }
    .CompSection1{
       padding-top: 50px;
       height: auto;
       width: auto;
    }
}

@media screen and (min-height: 1020px){
    .CompSection{
        height:1700px;
    }
}


@media screen and (max-width: 400px) {
 
    .CompSection{
        height: auto;
        width: auto;
    }
    
}

@media screen and (max-height: 400px) {
 
    .CompSection{
        height: auto;
        width: auto;
    }
    
}

/*@media screen and (max-width: 2000px) {
    .CompSection{
        height:880px;
    
    }
}

/*@media screen and (min-height:1200px){/
    .CompSection{
        height: 1310px;
    }/

}/




@media screen and (min-height:768px) and (max-height:1199px){/
    .CompSection{/
        height:1200px;
    }/
}/

@media screen and (min-height:401px) and (max-height:767px){/
    .CompSection{/
        height:1260px;
    }/
}/
@media screen and (max-height:400px){
    .CompSection{/
        height:auto;
    }

}*/

.LocalContact{
    height:725px
}



@media screen and (min-height: 1200px) {
 
    .LocalContact{
        height: 1110px;
    }
}

@media screen and (min-height: 1400px) {
 
    .LocalContact{
        height: 1200px;
    }
}
