
.FormInput{
    height: auto;
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    background-color: inherit;

}
.FormControl{
    background-color: inherit;
    
}
.FormInput 
::placeholder{
    color: white;
}
 
.FormInput input {
    color:white;
}

.FormInput ::-ms-backdrop{
    background-color: inherit;
}


@media only screen and (min-width:1400px){
    .FormInput{
        height: auto;
        width: 500px;
        padding-left: 50px;
        padding-right: 50px;
        background-color: inherit;
  }
 }